/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
/* Custom properties */
:root{
    --light-color: #fff;
    --light-color-alt: #afb6cd;
    --primary-background-color: #131417;
    --secondary-background-color: #252830;
    --hover-light-color: var(--light-color);
    --hover-dark-color: var(--primary-background-color);
    --gradient-color: linear-gradient(
        115deg,rgb(75, 139, 170),rgb(212, 179, 67),rgb(120, 33, 36),rgb(75,139,170),rgb(173, 100, 54));
    --transparent-light-color: rgba(255,255,255,.05);
    --transparent-dark-color: rgba(0,0,0,.75);
    --font-family: 'Poppins', sans-serif;
    --font-size-xxsm: 0.8rem;
    --font-size-xsm: 1.2rem;
    --font-size-sm: 1.6rem;
    --font-size-md: 2.4rem;
    --font-size-lg: 3rem;
    --font-size-xl: 4rem;
    --gap: 2rem;
    --margin-sm: 2rem;
    --margin-md: 3rem;
    --item-min-height-sm: 20rem;
    --item-min-height-md: 30rem;
}
/* Base styles */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    /*font-size: 10px; */
    font-size: 62.5%;
}


body{
    font-family: var(--font-family);
    font-size: var(--font-size-sm);
    color: var(--light-color-alt);
    background-color:var(--primary-background-color);
    letter-spacing: 1px;
    transition: background-color .25s, color .25s;
}

a{
    text-decoration: none;
    color: inherit;
}

img{
    max-width: 100%;
    display: block;
}

ul{
    list-style: none;
}

input,
button{
    font: inherit;
    color: inherit;
    border: none;
    background-color: transparent;
    outline: none;
}

i{
    font-size: var(--font-size-md);
}
/* Theme color change */
body.light-theme{
    --light-color: #3d3d3d;
    --light-color-alt: #rgba(0,0,0,.6);
    --primary-background-color: #fff;
    --secondary-background-color: #f1f1f1;
    --hover-light-color: #fff;
    --transparent-dark-color: #f1f1f1;
    --transparent-light-color: rgba(0,0,0,.1);
}
/* Reusable classes */
.container{
    max-width: 160rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.place-items-center{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.screen-sm-hidden{
    display: none;
}

.d-grid{
    display: grid;
}

.section:not(.featured-articles){
    padding-block: 5rem;
}
/* Header */
.header{
    background-color: var(--secondary-background-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 1.5rem;
}

.logo{
    font-size: var(--font-size-md);
    color: var(--light-color);
}

.menu{
    position: absolute;
    top: 8.5rem;
    right: 1.5rem;
    width: 23rem;
    padding: 1.5rem;
    background-color: var(--secondary-background-color);
    opacity: 0;
    transform: scale(0);
    transition: opacity .25s ease-in;
}

.list{
    display: flex;
    align-items: center;
    gap: var(--gap);
}

.menu > .list{
    flex-direction: column;
}


.close-menu-icon{
    display: none;
}

.btn{
    cursor: pointer;
}

.list-link:hover,
.btn:hover,
.btn:hover span{
    color: var(--light-color);
}

.moon-icon{
    display: none;
}

.light-theme .sun-icon{
    display: none;
}

.light-theme .moon-icon{
    display: block;
}
/* Header JavaScript Styles */
.header.activated{
    box-shadow: 0 1px .5rem var(--transparent-light-color);
}

.menu.activated{
    box-shadow: 1px 1px 1rem var(--transparent-light-color);
    opacity: 1;
    transform: scale(1);
}

.menu-toggle-icon.activated .open-menu-icon{
    display: none;
}
.menu-toggle-icon.activated .close-menu-icon{
    display: block;
    }
/* Search */
.search-form-container{
    width: 100%;
    max-width: 100%;
    height: 100vh;
    background-color: var(--primary-background-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    opacity: 0;
    transform: scale(0);
    transition: opacity .5s;
}

.form-container-inner{
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    text-align: center;
    align-items: center;
}

.form{
    display: flex;
    justify-content: center;
}

.form-input,
.form-btn{
    display: inline-block;
    border: 2px solid var(--secondary-background-color);
    padding: 1.5rem;
}

.form-input{
    border-right: none;
    width: 100%;
}

.form-btn{
    margin-left: -.5rem;
    border-left: none;
    background-color: var(--secondary-background-color);
    width: 8rem;
}

.form-note{
    font-size: var(--font-size-xsm);
    align-self: flex-end;
}

.form-close-btn{
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    border: 2px solid var(--secondary-background-color);
    width: 4rem;
    height: 4rem;
}
/* Form JavaScript styles */
.search-form-container.activated{
    opacity: 1;
    transform: scale(1);
}

/* Contact*/
.contact-form-container{
    width: 100%;
    max-width: 100%;
    height: 100vh;
    background-color: var(--primary-background-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9998;
    display: flex;
    opacity: 0;
    transform: scale(0);
    transition: opacity .5s;
}

.contact-form-container.activated{
    opacity: 1;
    transform: scale(1);
    z-index: 9999;
}

.contact-form{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.contact-name{
    border: 5px double rgb(75, 139, 170);
}

.contact-email{
    border: 5px double rgb(120, 33, 36);
}

.contact-message{
    border: 5px double rgb(212, 179, 67);
}

.contact-form-input{
    padding: 1.5rem;
    margin-top: 2rem;
    width: 30rem;
    height: 6rem;
}

.contact-list-link{
    color: rgb(173, 100, 54);
}

.contact-submit{
    margin-top: 2rem;
    border: 5px double rgb(173, 100, 54);
    height: 6rem;
    width: 30rem;
    padding: 1.5rem;
    background-color: var(--primary-background-color);
    
} 

.contact-submit:hover{
    letter-spacing: .2rem;
}


/* Thank you Page */

.thank-you-section{
    height: 99vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.thank-you-text{
    align-self: center;
    font-size: var(--font-size-lg);
    padding: 2rem;
    font-family: 'Courier New', Courier, monospace;
    color: var(--light-color);
}

/* Footer */
.footer{
    background-color: var(--secondary-background-color);
}


.footer-container{
    gap: var(--gap);
}

.footer-title-link:hover{
    color: rgb(212, 179, 67);
}

.company-data{
    display: flex;
    flex-direction: column;
    order: 1;
}

.company-description{
    margin-block: var(--margin-sm);
    max-width: 75%;
}

.social-media{
    margin-bottom: var(--margin-md);
}

.copright-notice{
    opacity: .8;
}

.footer-list{
    flex-direction: column;
    align-items: flex-start;
}

.footer-title{
    font-size: var(--font-size-md);
    text-transform: uppercase;
    margin-bottom: var(--margin-sm);
}

.poem-easter-egg{
    height: 1rem;
}

/* Scrollbar styles */
::-webkit-scrollbar{
    width: 1rem;
}

::-webkit-scrollbar-track{
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb{
    background-color: #3f4254;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #2e303b;
}

/*About Page styles */

.introduction{
    margin-top: 7.4rem;
    padding-block: 2rem;
}

.introduction-container{
    position: relative;
    text-align: center;
    background-color: var(--transparent-dark-color);
    min-width: 30%;
    max-height: 60%;
}

.main-background{
    overflow: none;
}

.introduction-content{
    position: absolute;
    top:50%;
    bottom: 50%;
}
.introduction-name{
    padding: 2rem 0;
}

.introduction-section{
    gap: var(--gap);
}


.introduction-image{
    position: fixed;
    top: 0;
    left: 0;
}


#typedtext{
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

/* About Parralax Format*/
.parralax-container{
    margin-top: 9.6rem;
    padding: 0 1.5rem;
}

.background-image-1{
    position: relative;
    opacity: 1;
    background-position: center;
    background-size: 110% 110%;
    background-repeat: no-repeat;
    border: 8px double rgb(75, 139, 170);
}

.background-image-2{
    position: relative;
    opacity: 1;
    background-position: center;
    background-size: 110% 110%;
    background-repeat: no-repeat;
    border: 8px double rgb(120, 33, 36);


    /*
    fixed = parallax
    scroll = normal
    */

    background-attachment: scroll;
}

.background-image-3{
    position: relative;
    opacity: 1;
    background-position: center;
    background-size: 110% 110%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    border: 8px double rgb(212, 179, 67);
}

.background-image-1{
    background-image: url('../images/about-page/note-background.webp');
    height: 25rem;
    background-attachment: scroll;
}

.background-image-2{
    background-image: url('../images/about-page/note-background.webp');
    min-height: 11rem;
}

.background-image-3{
    background-image: url('../images/about-page/note-background.webp');
    min-height: 11rem;
}

.section-parallax{
    text-align: center;
    color: var(--light-color);
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}




.greeting-text{
    position: relative;
    width: 100%;
    text-align: center;
    color: white;
    font-size: var(--font-size-sm);
    text-shadow: 3px 5px black;
    padding: 7rem 0;
}

.meechio-desc{
    position: absolute;
    text-align: center;
    top: 40%;
    width: 100%;
    color: white;
}


.readers-note{
    margin-top: 3rem;
    position: relative;
    color: var(--light-color-alt);
    max-width: 90rem;
}

.note-heading{
    position: relative;
    width: 100%;
    text-align: center;
    color: white;
    font-size: var(--font-size-md);
    text-shadow: 3px 5px black;
    font-family: 'Courier New', Courier, monospace;
    padding: 5rem 0;
}

.note-container-inner{
    text-align: justify;
}

.introduction-paragraph{
    padding: 0.5rem;
    align-self: center;
}

.complete-note{
    font-size: var(--font-size-xsm);
    color: var(--light-color);
}

.note-align{
    text-align: justify;
}

.about-section{
    display: flex;
    flex-direction: column;
    color: var(--light-color-alt);
    padding: 2rem;
}

.about-meechio, .about-myself, .about-icon{
    padding: 2rem;
    margin: 0 1rem;
    color: var(--light-color-alt);
}

.about-title{
    color: rgb(173, 100, 54);
    font-size: var(--font-size-md);
    font-family: 'Courier New', Courier, monospace;
}

.about-icon{
    position: relative;
    align-self: center;
}

/* About-Break-Animation */
.about-break-animation{
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-break-animation{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.circle-break-animation .circle-outside{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid rgb(173, 100, 54);
}

.circle-break-animation .circle-middle{
    position: relative;
    width: 10px;
    height: 10px;
    margin: 0px;
    border-radius: 50%;
    border: 2px solid rgb(173, 100, 54);
    background-color: rgb(173, 100, 54);
}

.circle-break-animation .line-animate{ 
    position: absolute;
    width: 20px;
    border: 1px solid rgb(173, 100, 54);
    width: 30px;
    animation: animate_break 8s linear infinite;
}

@keyframes animate_break
{
   0%{
       transform: rotate(360deg);
   }
   100%{
       transform: rotate(0deg);
   }
}



/* Continue reading*/
.introduction-note-container{
    width: 100%;
    max-width: 100%;
    height: 100vh;
    background-color: var(--primary-background-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    opacity: 0;
    transform: scale(0);
    transition: opacity .5s;
}

.form-note{
    font-size: var(--font-size-xsm);
    align-self: center;
}

.introduction-text-inner{
    overflow: none;
    padding: 2rem;
    max-width: 90rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.intro-paragraph-header{
    color: var(--light-color);
    font-size: var(--font-size-lg);
}

.note-close-btn{
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    border: 2px solid var(--secondary-background-color);
    width: 4rem;
    height: 4rem;
}

.introduction-note-container.activated{
    opacity: 1;
    transform: scale(1);
}

/*About page gallery*/
.gallery-data-container{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2rem 1.5rem;
    background-color: var(--transparent-dark-color);
    z-index: 10;
    width: 100%;
    transition: background-cover .5s;
    opacity: 0;
}

.article:hover .gallery-data-container{
    background-color: var(--hover-dark-color);
    color: var(--hover-light-color);
    opacity: 1;
}

.snapshot-gallery{
    margin-bottom: 2rem;
    margin-top: 0px;
}

.swiper:hover{
    cursor: grab;
}


/* Blog Page styles */

/* Featured articles */
.featured-articles{
    padding-block: 2rem;
}

.section-header-offset{
    margin-top: 7.4rem;
}

.featured-articles-container,
.featured-content{
    gap: var(--gap);
}

.headline-banner{
    background-color: var(--secondary-background-color);
    display: flex;
    align-items: center;
    gap: var(--gap);
    font-size: var(--font-size-xsm);
}


.complete-collection{
    margin-top: 7.4rem;
}

.headline{
    color: var(--light-color);
    font-size: 1rem;
    text-transform: lowercase;
    text-align: center;
    padding: .4rem;
    height: 100%;
}

.headline span{
    height: inherit;
}

.fancy-border{
    position: relative;
    overflow: hidden;
}

.fancy-border::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    background: var(--gradient-color);
    background-size: 50% 100%;
    z-index: 5;
}

.fancy-border span{
    position: relative;
    z-index: 10;
    display: inline-flex;
    padding: .6rem 1.5rem;
    background-color: var(--secondary-background-color);
}

.article{
    position: relative;
    min-height: var(--item-min-height-md);
}

.article-image{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .25s;
}

.article-category{
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 1rem;
    font-size: 1rem;
    background-color: var(--primary-background-color);
    color: var(--light-color);
    text-transform: uppercase;
    z-index: 10;
}

.article-data-container{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2rem 1.5rem;
    background-color: var(--transparent-dark-color);
    z-index: 10;
    width: 100%;
    transition: background-cover .5s;
}

.article:hover .article-data-container{
    background-color: var(--hover-dark-color);
    color: var(--hover-light-color);
}

.article:hover .article-data-spacer{
    background-color: var(--hover-light-color);
}

.article:hover .article-title{
    color: var(--hover-light-colorlight-color);
}
.article-data{
    display: flex;
    align-items: center;
    gap: var(--gap);
    font-size: var(--font-size-xsm);
    margin-bottom: 1rem;
}

.article-data-spacer{
    width: .5rem;
    height: .5rem;
    background-color: var(--light-color-alt);
    transform: rotate(45deg);
}

.title{
    color: var(--light-color);
}

.article-title{
    font-size: var(--font-size-md);
}

.article-title-complete{
    font-size: var(--font-size-sm);
}

/* Featured articles - Sidebar */
.sidebar{
    background-color: var(--secondary-background-color);
    padding: 2.5rem;
    border: 10pt double rgb(75, 139, 170);
}

.trending-news-box{
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    padding-block: 2rem;
    border: 1px solid --transparent-light-color;
}

.trending-news-box:last-of-type{
    border-bottom: none;
}

.trending-news-image-box{
    position: relative;
    width: 100%;
    min-width: 30%;
    height: var(--item-min-height-sm);
}

.featured-content-title{
    font-size: var(--font-size-md);
    text-align: center;
    padding: 1rem;
}

.trending-number{
    position: absolute;
    top: -1rem;
    left: -1rem;
    z-index: 15;
    width: 3rem;
    height: 3rem;
    background-color: var(--secondary-background-color);
    color: var(--light-color);
    border-radius: 50%;
}

.trending-news-data .article-title{
    font-size: var(--font-size-sm);
}

.trending-news-box:hover .article-title{
    color: var(--light-color-alt);
}

/* Photo Gallery*/

/* Quick read */
.section-title{
    position: relative;
    font-size: var(--font-size-md);
    margin-bottom: 6rem;
}

.section-title::before{
    content: attr(data-name);
    font-size: var(--font-size-lg);
    text-transform: uppercase;
    opacity: .1;
    position: absolute;
    top: 1.5rem;
    left: 2rem;
}

.article.swiper-slide{
    height: 40rem;
}

/* Quick read - Swiper */
.swiper-wrapper{
    height: auto;
}

.swiper-controls{
    width: 3.5rem;
    height: 3.5rem;
    background-color: var(--secondary-background-color);
}

.swiper-controls::after{
    font-size: 1.6rem;
    color: var(--light-color);
}

.swiper-pagination{
    bottom: .5rem !important;
}

.swiper-pagination-bullet{
    background-color: var(--light-color);
}
/* Older posts */
.older-posts-grid-wrapper{
    gap: var(--gap);
}

.older-posts-article-image-wrapper,
.older-posts .article{
    min-height: var(--item-min-height-sm);
}

.older-posts .article{
    background-color: var(--secondary-background-color);
}

.older-posts-article-image-wrapper{
    position: relative;
}

.older-posts-grid-wrapper .article-data-container{
    position: static;
    background-color: transparent;
}

.older-posts-grid-wrapper .article-title{
    margin-bottom: var(--margin-sm);
}

.see-more-container{
    margin-top: var(--margin-md);
}

.see-more-btn{
    text-transform: uppercase;
}

.see-more-btn i{
    transition: transform .25s;
}

.see-more-btn:hover i{
    transform: translateX(.5rem);
}
/* Popular tags */
.popular-tags-container{
    gap: var(--gap);
}

.popular-tags-container .article{
    min-height: var(--item-min-height-sm);
    overflow: hidden;
}

.tag-name{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: var(--transparent-dark-color);
    padding: 1rem 2rem;
    z-index: 10;
}

.popular-tags-container .article:hover .tag-name{
    color: var(--light-color);
}

.popular-tags-container .article:hover .article-image{
    transform: scale(1.05);
}
/* Newsletter */
.newsletter{
    padding-bottom: 6rem;
}

.newsletter-title{
    font-size: var(--font-size-lg);
}

.newsletter-description{
    margin-bottom: 2rem;
}

/* Blog post styles*/

/* Blog post */

.blog-post{
    padding-bottom: 5rem;
}

.blog-post-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-block: 2.5rem;
}

.blog-post-title{
    font-size: clamp(3rem, 5vw, 6rem);
}

.blog-subheading{
    color: var(--light-color);
}

.blog-post-data .article-data{
    margin-bottom: 2.5rem;
}

.blog-post-data img{
    width: 100%;
    max-width: 90rem;
    height: var(--item-min-height-sm);
    object-fit: cover;
    object-position: center 10%;
}

.blog-post-container .container{
    max-width: 90rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.quote{
    background-color: var(--secondary-background-color);
    padding: 2.5rem;
}

.quote p{
    font-style: italic;
}

.quote span i{
    font-size: 3.5rem;
}

.author{
    margin-top: 2rem;
    gap: var(--gap);
    background-color: var(--secondary-background-color);
}

.author-image-box{
    position: relative;
    height: var(--item-min-height-sm);
}

.author-about{
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.author-name{
    color: var(--light-color);
    font-weight: 400
}

.author.p{
    max-width: 50rem;
    margin-bottom: 1rem;
}

.author-about .social-media{
    margin-top: auto;
    margin-bottom: 0;
}

.blog-control-btns{
    display: flex;
    justify-content: center;
    padding: 2rem 0;
    margin-bottom: 0rem;
}

.blog-nav-btn{
    text-transform: uppercase;
    font-size: var(--font-size-xsm);
    color: var(--light-color);
    padding: 0 2rem;
}

.see-more-btn-left{
    text-transform: uppercase;
}

.see-more-btn-left i{
    transition: transform .25s;
}

.see-more-btn-left:hover i{
    transform: translateX(-.5rem);
}

.blog-home-nav-btn:hover{
transform: scale(1.2);
}



/*Blog page responsive styles */

/* Media queries */
@media screen and (min-width:550px){
    .about-section{
        display: flex;
        flex-direction: row;}
}

@media screen and (min-width: 700px){
    .trending-news-box{
        flex-direction: row;
        align-items: center;
    }

    .trending-news-image-box{
        width: 50%;
    }

    .trending-news-data{
        margin: auto;
        text-align: center;
    }

    .newsletter-description{
        max-width: 40rem;
    }

    .popular-tags-container,
    .footer-container, .toolkit-container{
        grid-template-columns: repeat(2,1fr);
    }

    .form-container-inner{
        align-items: center;
    }

    .company-data{
        order: 0;
    }

    .author{
        grid-template-columns: 25rem 1fr;
    }
    .background-image-2{
        background-attachment: scroll;
    }
    .background-image-1{
        background-attachment: scroll;
    }
  

}

@media screen and (min-width: 768px) {

    .featured-content{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 5rem repeat(4, 1fr);
    }

    .headline-banner{
        grid-column: 1/-1;
        font-size: var(--font-size-sm);
    }
    
    .featured-article{
        grid-column: 3/-1;
        grid-row: 2/4;
    }

    .featured-article-1{
        grid-column: 1/3;
    }
    
    .featured-article-3{
        grid-column: 1/-1;
        grid-row: 4/6;
    }

    .older-posts .article{
        grid-template-columns: 25rem 1fr;
        
    }

    .older-posts-article-image-wrapper{
        height: auto;
    }

    .blog-post-data img{
        height: var(--item-min-height-md);;
    }


}

@media screen and (min-width: 1024px) {
    .menu{
    position: initial;
    width: initial;
    padding: initial;
    background-color: transparent;
    opacity: initial;
    transform: scale(1);
    }

    .menu > .list{
        flex-direction: row;
    }

    .background-image-1{
        background-attachment: fixed;
    }

    .background-image-2{
        background-attachment: fixed;
    }

    .background-image-3{
        background-attachment: fixed;
    }

    .screen-lg-hidden{
        display: none;
    }

    .screen-sm-hidden{
        display: block;
    }

    .sign-up-btn{
        padding: .4rem;
    }

    .btn.fancy-border:hover::before{
        animation: animate_border .75s linear infinite;
    }

    @keyframes animate_border{
        to{
            transform: translateX(-50%)
        }
    }

    .featured-articles-container{
        grid-template-columns: 1fr 40rem;
    }

    .trending-news-image-box{
        width: 10rem;
        height: 10rem;
    }

    .popular-tags-container{
        grid-template-columns: repeat(3, 1fr);
    }
    
    .toolkit-container{
        grid-template-columns: repeat(3, 1fr);
    }

    .footer-container{
        grid-template-columns: repeat(5, 1fr);
    }

    .company-data{
        grid-column: span 2;
    }

    .company-description{
        max-width: 85%;
    }

    .copyright-notice{
        margin-top: auto
    }

    .blog-post-data img{
        height: 40rem;
    }

}

@media screen and (min-width: 1200px) {
    .older-posts-grid-wrapper{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1500px) {
    .featured-article{
        grid-column: 3/-1;
    }

    .featured-article-1{
        grid-column: 1/3;
        grid-row: 2/-1;
    }
}



@media(max-width:700px){

    .section-title::before{
       font-size: var(--font-size-md);
    }
    .headline{
        font-size: .5rem;
    }

    
}

/* Collection Page */

/*Shop Loading Page*/
.body-loading-screen{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 99vh;
    background-color: var(--primary-background-color);
}
.coming-soon-txt{
    align-self: center;
}


.ring-loading-screen{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.ring-loading-screen .ring{
    position: relative;
    width: 150px;
    height: 150px;
    margin: -40px;
    border-radius: 50%;
    border: 4px solid transparent;
    border-top: 4px solid rgb(75, 139, 170);
    animation: animate_loading 4s linear infinite;
}

.ring-loading-screen .ring-middle{
    position: relative;
    width: 20px;
    height: 20px;
    margin: -75px;
    margin-right: 120px;
    margin-top: -125px;
    border-radius: 50%;
    border-top: 4px solid #fad648;
    border-bottom: 4px solid #12bcfe;
    border-left: 4px solid #4fcf70;
    border-right: 4px solid #a767e5;
    animation: animate_loading 4s linear infinite;
    background-color: var(--primary-background-color);
}

@keyframes animate_loading 
{
    0%
    {
        transform: rotate(0deg);
    } 
    100%
    {
        transform: rotate(360deg);
    }
}

.ring-loading-screen .ring::before{
    content: '';
    position: absolute;
    top: 12px;
    right: 12px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: rgb(75, 139, 170);
    box-shadow: 0 0 0 5px #4B8BAA33,
    0 0 0 10px #4B8BAA22,
    0 0 20px rgb(75, 139, 170);
}

.ring-loading-screen .ring:nth-child(2){
    animation: animate_loading_2 4s linear infinite;
    animation-delay: -1s;
    border-top: 4px solid transparent;
    border-left:  4px solid rgb(120, 33, 36);
}

.ring-loading-screen .ring:nth-child(2):before{
    content: '';
    position: absolute;
    top: initial;
    bottom: 12px;
    left: 12px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: rgb(120, 33, 36);
    box-shadow: 0 0 0 5px #78212333,
    0 0 0 10px #78212322,
    0 0 20px rgb(120, 33, 36);
}

@keyframes animate_loading_2
{
    0%
    {
        transform: rotate(360deg);
    } 
    100%
    {
        transform: rotate(0deg);
    }
}

.ring-loading-screen .ring:nth-child(3){
    animation: animate_loading_2 4s linear infinite;
    animation-delay: -3s;
    position: absolute;
    top: -66.66px;
    border-top: 4px solid transparent;
    border-left: 4px solid rgb(212, 179, 67);
}

.ring-loading-screen .ring:nth-child(3):before{
    content: '';
    position: absolute;
    top: initial;
    bottom: 12px;
    left: 12px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: #D4B343;
    box-shadow: 0 0 0 5px #D4B34333,
    0 0 0 10px #D4B34322,
    0 0 15px #D4B343;
}

.ring-loading-screen .ring:nth-child(4):before{
    content: '';
    position: absolute;
    top: initial;
    bottom: 12px;
    left: 12px;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    background: #4fcf70;
    box-shadow: 0 0 0 5px #4fcf7033,
    0 0 0 10px #4fcf7022,
    0 0 20px #4fcf70;
}

.ring-loading-screen .ring:nth-child(4){
    animation: animate_loading 4s linear infinite;
    animation-delay: -7s;
    position: absolute;
    top: -66.66px;
    border-top: 4px solid transparent;
    border-left: 4px solid #4fcf70;
}

.ring-loading-screen p{
    color: var(--light-color);
    position: absolute;
    font-size: var(--font-size-md);
    bottom: -100px;
    letter-spacing: 0.15em;
    font-family: 'Courier New', Courier, monospace;
}
.ring-loading-screen .line-2{
    color: var(--light-color-alt);
    position: absolute;
    font-size: var(--font-size-sm);
    bottom: -130px;
    letter-spacing: 0.15em;
}

.ring-loading-screen .line-3{
    color: var(--primary-background-color);
    position: absolute;
    font-size: var(--font-size-sm);
    bottom: -160px;
    letter-spacing: 0.15em;
}

.ring-loading-screen .line-3:hover{
    color: rgb(188, 106, 55);
}

/* Alien Section */
.alien-section{
    display: flex;
    justify-content: center;
    margin-top: 9.6rem;
    padding-top: 9.6rem;
    margin-bottom: 2rem;
}
.poem-stanza{
    padding-top: 2rem;
    font-family: var(--font-family);
    font-style: italic;
    color: white;
    padding: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 2rem;
    font-size: var(--font-size-sm);
}
.alien-heading{
    color: black;
}

.background-image-alien{
    position: relative;
    opacity: 1;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.background-image-alien{
    background-image: url('../images/background-abstract-4.jpeg');
}

.stanza-1{
    background-color: rgb(159, 111, 36);
}

.stanza-2{
    background-color: rgb(21, 158, 168);
}

.stanza-3{
    background-color: rgb(84, 170, 34);
}

.stanza-4{
    background-color: rgb(194, 27, 26);
}

.stanza-5{
    background-color: rgb(13, 15, 30);
}

.stanza-6{
    background-color: rgb(252, 156, 25);
}

.stanza-7{
    background-color: rgb(251, 54, 17);
}

.stanza-8{
    background-color: rgb(147, 83, 134);
}

/* Toolkit Section */
.toolkit-container{
    gap: var(--gap);
}

.toolkit-container .article{
    min-height: var(--item-min-height-sm);
    overflow: hidden;
}

.toolkit-info{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 1rem 2rem;
    z-index: 10;
    opacity: 0;
    transition: ease-in-out .3s;
    width: fit-content;
}

.toolkit-container .article:hover .toolkit-info{
    color: var(--light-color);
    opacity: 1;
}

.toolkit-container .article:hover .toolkit-image{
    opacity: 0;
}

.toolkit-item{
    height: 35vh;
}

.toolkit-style-1{
    border: 10pt double rgb(75, 139, 170);
}

.toolkit-style-2{
    border: 10pt double rgb(120, 33, 36);
}

.toolkit-style-3{
    border: 10pt double rgb(212, 179, 67);
}

.toolkit-style-4{
    border: 10pt solid rgb(75, 139, 170);
}

.toolkit-style-5{
    border: 10pt solid rgb(120, 33, 36);
}

.toolkit-style-6{
    border: 10pt solid rgb(212, 179, 67);
}

.toolkit-object-name{
    color: rgb(188, 106, 55);
    font-size: var(--font-size-md);
    font-family: 'Courier New', Courier, monospace;
}

.toolkit-object-info{
    color: var(--light-color);
    font-size: var(--font-size-sm);
}

.toolkit-image{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit:scale-down;
    transition: transform .25s;
    padding: 2rem;
    transition: ease-in-out .3s;
}

.toolkit-text-cover{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 40%;
    left: 25%;
    transition: transform .25s;
    padding: 2rem;
    transition: ease-in-out .3s;
    font-size: var(--font-size-xl);
}

.toolkit-title{
    position: relative;
    font-size: var(--font-size-md);
    display: flex;
    justify-content: center;
    font-size: var(--font-size-lg);
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 5rem;
}


.toolkit-arrow{
    color: var(--light-color-alt);
}

.arrow-link:hover{
    color: var(--light-color);
}

.see-more-btn i{
    transition: transform .25s;
}

.toolkit-arrow{
    padding: 0 2rem;
}

.toolkit-arrow-right:hover i{
    transform: translateX(.5rem);
    color: var(--light-color);
}

.toolkit-arrow-left:hover i{
    transform: translateX(-.5rem);
    color: var(--light-color);
}

/* Graffiti Section */
.background-image-graffiti{
    position: relative;
    opacity: 1;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 99rem;
}


.background-image-graffiti{
    background-image: url('../images/graffiti/base-meechio-graffiti.jpg');
}

.graffiti-section{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    padding-top: 9.6rem;
    margin-bottom: 2rem;
}

.alien-egg{
    color: #004AAD;
    position: relative;
    padding-top: 46.5rem;
    padding-left: 70rem;
}

.alien-egg:hover{
    color: rgb(251, 54, 17);
}

.spray-name{
    margin-top: 9.6rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.graffiti-form-name{
    width: 15rem;
}

.graffiti-form-submit{
    width: 15rem;
}

.spray-form{
    font-family: 'Courier New', Courier, monospace;
    color: var(--light-color)
} 

.spray-form-info{
    font-size: var(--font-size-sm);
    padding-top: 1rem;
    color: var(--light-color-alt)
}

.ri-emotion-happy-fill{
    color: rgb(173, 100, 54);
}

.ri-emotion-happy-fill:hover{
    color: var(--light-color);
}

.collection-archive-article{
    height: 45rem;
}